.AppButton {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: none;

  border-radius: 3px;
  font-weight: 700;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  // primary theme button
  &.Primary {
    background-color: #ff711f;
    border: 2px solid #ff711f;
    color: #fff;

    &:active {
      border: 2px solid #ff711f!important;
    }

    &:hover {
      background-color: #ffe0ce;
      border-color: #ffe0ce;
      color: #ff711f;
    }
  }

  // styles applied if icon aligned left
  &.Left {
    flex-direction: row-reverse;

    .IconLeft {
      margin-right: 5px;
    }
  }

  // styles applied if icon aligned right
  &.Right {
    flex-direction: row;

    .IconRight {
      margin-left: 5px;
    }
  }

  // styles applied if link button
  &.Link {
    text-decoration: none;
  }
}