.ButtonContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

.InnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  
  border: 3px dashed #ededed;
  border-radius: 6px;

  .Icon {
    width: 60px;
    height: 60px;
    color: #d7d7d7;
    margin-bottom: 10px;
  }
}

.InputFile{
  display: none;
}