.Root {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
}

.THead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #FFF;
}

.Tr {
  &:hover {
    .Actions {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.Actions {
  opacity: 0;
  transform: translateX(20px);
  transition: all 200ms ease-out;

  Button {
    text-transform: none;
  }
}

.Th {
  padding: 10px 0px;
  text-align: left;
  width: 1%;
  border-bottom: 1px solid #ededed;

  &.Fixed {
    width: 100px;
  }

  .HeaderButton {
    margin-left: -10px;
    text-transform: capitalize;
  }
}

.Td {
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #ededed;
  white-space: nowrap;
}

.StartButton {
  transition: all 150ms ease-out;
  &.Hidden {
    opacity: 0;
    transform: translateX(10px);
  }
  &.Visible {
    opacity: 1;
    transform: translateX(0);
  }
}

.FooterContainer {
  position: sticky;
  margin-top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  padding: 10px;
  z-index: 10;
  background-color: #FFF;
  box-sizing: border-box;
  border-top: 1px solid #ededed;
}

