.Container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .ListHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 8px 16px 8px;
    border-bottom: 1px solid #ededed;
  }

  .ItemContainer {
    width: calc(50% - 10px);
  }

  .FilterButton {
    text-transform: none !important;
    color: rgba(0, 0, 0, 0.54) !important;
  }

  .List {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,.26);
    }
    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }
  }

  .TableListItem {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 14px 12px 16px;
    border-bottom: 1px solid #ededed;
    text-decoration: none;
    color: inherit;
  
    &:hover {
      background-color: #FEF2F6;
      border-color: #FEF2F6;
    }
  
    & > div {
      width: 50%;
    }
  }

  .IconButton {
    position: absolute !important;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}