.Container {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-top: 20px;
  padding-right: 20px;
  border-right: 1px solid #ededed;

  .SidebarItem {
    display: flex;
    align-items: center;
    gap: 10px;
    outline: none;
    border: none;
    background: none;
    padding: 10px 24px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    text-decoration: none;
    color: inherit;
    & > svg{
      color: #707070;
    }
    &:hover {
      background-color: rgba(0,0,0,.04);
    }

    &.Active {
      background-color: #e8f0fe;
      color: #1967d2;
      & > svg{
        color: #1967d2;
      }
    }
  }


  .UploadButton {
    align-self: center;
    margin-bottom: 20px !important;
    border-radius: 16px !important;
  }
}