.TableFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
  padding: 12px 10px;
  border-top: 1px solid #ededed;
  background-color: var(--white);
  z-index: 10;
  box-sizing: border-box;

  & > :nth-child(2)  {
    margin-left: 10px;
    margin-right: auto;
  }
}