$loader-color1: var(--brand-color-one-dark);
$loader-color2:var(--brand-color-two-base);
$loader-color3:  var(--brown);

.LoaderWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Loader {
  position: absolute;
  height: 150px;
  width: 150px;
  border: 3px solid transparent;
  border-top-color: $loader-color1;
  border-bottom-color: $loader-color1;
  border-radius: 50%;
  z-index: 2;
  animation: spin 2s linear infinite;


  &::before {
    content: "";
    position: absolute;
    top: 2%;
    bottom: 2%;
    left: 2%;
    right: 2%;
    border: 3px solid transparent;
    z-index: 2;
    border-top-color: $loader-color2;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    -o-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;

  }

  &::after {
    content: "";
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    border: 3px solid transparent;
    border-top-color: $loader-color3;
    z-index: 2;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  0% {

    transform: rotate(0deg);
  }

  50% {

    transform: rotate(180deg);
  }
  100% {

    transform: rotate(360deg);
  }
}
