.Container {
  display: flex;
  flex-direction: column;

  .FormArrayItem {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:not(:first-child) {
      padding: 10px 0;
    }

    &:first-child {
      padding-bottom: 10px;
    }

    .FormRow {
      display: flex;
      gap: 20px;

      .BigTextField {
        width: 70%;
      }
      .FillRemaining {
        flex-grow: 1;
      }
    }
  }
}

.FormSkeletonContainer {
  display: flex;
  flex-direction: column;

  .FormSkeletonItem {
    display: flex;
    flex-direction: column;

    .FormSkeletonRow {
      display: flex;
      gap: 20px;
      & > :first-child {
        flex-grow: 1;
      }
    }
  }
}