.AutocompleteOverlay {
  position: relative;
  z-index: 10;


  .Container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    padding: 0 5px;
    background-color: #f0f1f3;
    border: none;
    outline: 0;
    border-radius: 20px/50%;
    color: var(--brown);
    box-sizing: border-box;
    transition: border-radius .1s;

    input {
      color: var(--brown);
    }

    ::placeholder,
    ::-ms-input-placeholder {
      color: rgba(var(--brown), .8);
    }

    .Icon {
      transition: transform .2s, color .2s;
      color: var(--brand-color-one-base);
    }

    .Shortcut {
      display: flex;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover,
    &.Focused {
      background-color: #f2f3f5;

      .Icon {
        transform: scale(1.15);
        color: var(--brand-color-one-base)
      }
    }

    &.Searching {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .AutocompleteContentWrapper {
    color: var(--black);
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFF;
    // padding: 16px 8px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
    box-sizing: border-box;
    opacity: 0;
    animation: enter .1s forwards;
  }


}

@keyframes enter {
  from {
    top: calc(100% - 6px);
    opacity: 0;
  }
  to {
    top: calc(100% + 2px);
    opacity: 1;
  }
}
