.Container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 4px;
  gap: 5px;
  font-size: 10px;
  border-radius: 6px;
  font-weight: 600;

  .Circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  &.Medium {
    font-size: 12px;

    .Circle {
      width: 6px;
      height: 6px;
    }
  }

  &.Done {
    background-color: rgb(106, 231, 156);
    color: rgb(32, 38, 45);
    .Circle {
      background-color: rgb(32, 38, 45);
    }
  }

  &.Doing {
    background-color: rgb(255, 217, 128);
    color: rgb(32, 38, 45);
    .Circle {
      background-color: rgb(32, 38, 45);
    }
  }

  &.Todo {
    background-color: #e1e6ed;
    color: rgb(32, 38, 45);
    .Circle {
      background-color: rgb(32, 38, 45);
    }
  }
}