.Container {
  display: flex;
  // align-items: center;
  background-color: inherit;
  min-height: 28px;
  height: 100%;
  
  .CellLabel {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 18px 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .TextLabel {
      flex: 1;
      text-align: left;
    }
    
    &.Dense {
      padding: 6px 4px;
      font-size: 14px;
    }
  
    .Badge {
      // position: absolute;
      // left: 10px;
      // top: 50%;
      // transform: translateY(-50%);
    }

    .ActionButton {
      position: absolute;
      right: 5px;
      top: 50%;
      opacity: 0;
      transform: translateY(-50%);
      background-color: #F9F9F9;

      &:hover {
        background-color: #e9e9e9;;
      }
    }

    &:hover {
      .ActionButton {
        opacity: 1;
      }
    }
  }

  .ExpandableList {
    flex-shrink: 0;
    border-left: 1px solid #ededed;

    .Item {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 12px;

      .MetaLink {
        max-width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: auto;
        margin-left: 25px;
      }

      .Icon {
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        color: #4AC99B;
      }
    }
  }

  .LinkMatched {
    color: #4AC99B;
  }
}

