:root {
  //brand color one
  --brand-color-one-base: #1b7ba7;
  --brand-color-one-light: #4f9ecb;
  --brand-color-one-dark: #0f6588;
  --brand-color-one-hover: var(--brand-color-one-light);
  --brand-color-one-disabled: rgba(27, 123, 167, 0.3);
  --brand-color-one-contrast-text: #ffffff;
  --brand-color-one-transparent: #edf5f9;
   --brand-color-one-transparent-dark: #e3eff4;

  // brand color two
  --brand-color-two-base: #547560;
  --brand-color-two-light: #74937e;
  --brand-color-two-dark: #3f5446;
  --brand-color-two-hover: var(--brand-color-two-light);
  --brand-color-two-disabled: rgba(63, 84, 70, 0.3);
  --brand-color-two-contrast-text: #151816;
  --brand-color-two-transparent: #deeae2;

  // neutral color
  --neutral-color-light: #eaeff1;
  --neutral-color-base: #9da0a1;
  --neutral-color-dark: #4b4c4d;

  --white: #FFFFFF;
  --black: #283236;

  --brown: #5E514B;
  --brown-light: #877e7a;
  --brown-dark: #3a3331;
}
