.List {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 300px;
  // padding: 10px;

  .Header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    background-color: #3f51b5;
    color: #FFF;

    & > * {
      color: #FFF;
    }
    
    & > :nth-last-child(2) {
      margin-left: auto;
    }
  }
}