.ItemContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 16px;
  height: 60px;
  box-sizing: border-box;
  
  &:not(:last-child) {
    border-bottom: 1px solid #ededed;
  }

  & > p {
    margin-right: auto;
  }

  .DoneIcon {
    color: #388e3c;
  }
}