.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid #ededed;
  height: 110px;
  box-sizing: border-box;

  .Title {
    overflow: hidden;
    transform: translateX(-40px);
    transition: all 200ms ease-out;

    & > :first-child {
      transition: all 200ms 200ms ease-out;
      opacity: 0;
    }

    &.Back {
      transform: translateX(0);

      & > :first-child {
        opacity: 1;
      }
    }
  }

  .Row {
    display: flex;
    align-items: center;
  }

  .Column {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-right: auto;
    // overflow: hidden;
  }

  .Link {
    text-decoration: none;
  }

  .SubHeader {
    height: 33px;
  }

  .NSelected {
    margin-right: 15px;
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 4px;
    color: var(--brand-color-two-contrast-text);
    background-color: var(--brand-color-two-transparent);
  }

  .ButtonAnnotation {
    text-transform: none;
  }
}

.TableContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  // fixes scroll
  height: 1px;

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .26);
  }

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
}

.BreadcrumbsItem {
  font-weight: 500;
}

.BreadcrumbsLink {
  text-decoration: none;
  font-weight: 400;
  transition: color .3s;
  color: var(--brown-light);
  &:hover {
    color: var(--brand-color-one-hover);
  }

}
