.OuterContainer {
  display: flex;
  flex-direction: column;
  height: 100%;

  .InnerContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}

.UploadList {
  position: fixed;
  bottom: 10px;
  right: 10px;
}