.HotKeysContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: hidden;
  outline: none;

  .TableContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-grow: 1;
    padding-left: 10px;
    // height of the table footer
    margin-bottom: 41px;
    &::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,.26);
    }
    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }

    &.HeaderExpanded {
      overflow: hidden !important;
    }

    .Canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }
  }
}

.ContextMenuIcon {
  width: 20px !important;
  height: 20px !important;
  color: #5F6368;
}
