.Table {
  transition: transform 200ms cubic-bezier(0.38, 0.81, 0.49, 1.07);

  &.HeaderExpanded {
    border-top: 1px solid #ededed;
    transform: translateY(200px);
  }
}

.SvgContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 100%;
}

.Canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}