.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  left: calc(50% - 150px);
  z-index: 10;

  .UploadIcon {
    width: 70px;
    height: 70px;
    color: #3f51b5;
    animation: TranslateUpDown 1s linear infinite;
  }

  .Paper {
    width: 300px;
    background-color: #3f51b5;
    color: #FFF;
    padding: 12px 14px;
  }
}

@keyframes TranslateUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}