.TableHeaderCell {
  position: relative;
  vertical-align: top;
  font-size: 16px;
  font-weight: normal;
  color: rgba(27, 31, 59, 0.65);
  border-right: 1px solid #ededed;
  border-top: 2px solid transparent;

  .Role {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &.TableHeaderIndex {
    width: 38px;
  }

  &.Selected {
    background-color: var(--brand-color-one-transparent-dark);
    border-top: 2px solid var(--brand-color-one-base)
  }

  .TableHeaderContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;

    .Column {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 12px 10px;
      flex: 1 1 auto;
    }

    .Row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      //height: 100%;
    }

    .Label {
      flex: 1 1 auto;
      margin-right: 10px;
    }

    .SubjectLabel {
      &:first-letter {
        text-transform: capitalize;
      }
    }
  }
}
