.Container {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-left: 1px solid #ededed;
  height: 100%;

  .PropertyContainer {
    display: flex;
    flex-direction: column;

    .Label {
      color: var(--brown-dark);
      border-bottom: 1px solid #ededed;
      text-transform: uppercase;
      font-size: 12px;
    }


    &:not(:first-child) {
      border-top: 1px solid #ededed;
    }

    .PropertyItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px 10px;
      text-align: left;

      & > * {
        flex: 1;
      }
    }
  }

  .List {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px;

    .ListItem {
      display: flex;
      gap: 10px;
    }
  }

  .Row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}


